langchain
langchain-community
langchain-huggingface
chromadb
pypdf
youtube-transcript-api
fastapi
uvicorn
python-dotenv
google-genai
langchain-classic
requests
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu